// 定义主体颜色
@main-color:#006699;
html{
    font-size: 26.66667vw;
}
body{
    font-size: 0.14rem;
}
// 样式不用写太多,mui基本写好了
//去掉标题默认间距
h1,h2,h3,h4,h5,h6{
    margin:0;

}
//头部属于公共样式,所以写在base里面
a{
    display: block;
    color: #fff;
}
img{
    display: block;
    width: 100%;
}
#header{
    h4{
        font-size: 0.14rem;
        line-height: 0.45rem;
        color:#fff;
    }
 
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: @main-color;
    display:flex;
    justify-content: center;
    .left{
        width: 0.45rem;
        height: 0.45rem;
        line-height: 0.45rem;
        text-align: center;
    }
    .center{
        flex:1;
        text-align: center;
    }
    .right{
        line-height: 0.45rem;
        text-align: center;
        width: 0.45rem;
        height: 0.45em;
    }
}
#main{
    position: relative;
    height: 100vh;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}
#footer{
    z-index: 999;
    width: 100%;
    position: fixed;
    bottom: 0;
    .mui-row{
        width: 100%;
        .mui-col-xs-3{
            a{
                height: 0.45rem;
                background-color: @main-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color:white;
                &.active{
                    color:yellow; 
                }
            }
            // a.active{
            //     color:yellow;
            // }
            
        }
    }
    
}
