html {
  font-size: 26.66667vw;
}
body {
  font-size: 0.14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  display: block;
}
img {
  display: block;
  width: 100%;
}
#header {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #006699;
  display: flex;
  justify-content: center;
}
#header h4 {
  font-size: 0.14rem;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .right {
  line-height: 0.45rem;
  text-align: center;
  width: 0.45rem;
  height: 0.45em;
}
#footer {
  z-index: 999;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#footer .mui-row {
  width: 100%;
}
#footer .mui-row .mui-col-xs-3 a {
  height: 0.45rem;
  background-color: #006699;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#footer .mui-row .mui-col-xs-3 a.active {
  color: yellow;
}
#header {
  color: #fff;
}
#header .left {
  text-align: center;
  line-height: 0.45rem;
}
#header .center {
  padding-top: 0.02rem;
}
#header .center input {
  margin-bottom: 0;
  border-radius: 0.1rem;
}
#main {
  height: 100vh;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  background-color: #eee;
  display: flex;
}
#main .left {
  width: 0.75rem;
}
#main .left ::after {
  left: 0px;
}
#main li .active {
  background-color: #eee;
}
#main .right {
  flex: 1;
  margin-left: 0.1rem;
}
#main .right .mui-row {
  display: flex;
  flex-wrap: wrap;
}
#main .right .mui-row .mui-clo-xs-4 {
  text-align: center;
  margin: 0.1rem 0 ;
  background-color: #fff;
}
#main .right .mui-row .mui-clo-xs-4 img {
  width: 0.75rem;
  height: 0.75rem;
}
