html {
  font-size: 26.66667vw;
}
body {
  font-size: 0.14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  display: block;
  color: #fff;
}
img {
  display: block;
  width: 100%;
}
#header {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #006699;
  display: flex;
  justify-content: center;
}
#header h4 {
  font-size: 0.14rem;
  line-height: 0.45rem;
  color: #fff;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .right {
  line-height: 0.45rem;
  text-align: center;
  width: 0.45rem;
  height: 0.45em;
}
#main {
  position: relative;
  height: 100vh;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}
#footer {
  z-index: 999;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#footer .mui-row {
  width: 100%;
}
#footer .mui-row .mui-col-xs-3 a {
  height: 0.45rem;
  background-color: #006699;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#footer .mui-row .mui-col-xs-3 a.active {
  color: yellow;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
